# Someone please clean this up later
/file_gen/jars
/file_gen/target
/file_gen/out
/file_gen/.idea

/installer/out
/installer/build
/installer/.idea
/installer/test.jar
/installer/.gradle

*/.DS_Store